@import "tailwindcss";

@theme {
    --font-pixel: "m6x11", "monospace";
}

@font-face {
    font-family: 'm6x11';
    src: url('/fonts/m6x11.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    cursor: url('/assets/UI Elements/UI Elements/Cursors/Cursor_01.png') 16 16, auto !important;
}

a:hover,
button:hover,
.action:hover {
    cursor: url('/assets/UI Elements/UI Elements/Cursors/Cursor_02.png') 16 16, pointer !important;
}

.blocking-cursor {
    cursor: url('/assets/UI Elements/UI Elements/Cursors/Cursor_03.png') 16 16, not-allowed !important;
}

.sprite-anim {
    background-repeat: no-repeat;
    image-rendering: pixelated;
    background-position: 0 center;
}