@import "tailwindcss";

@theme {
    --font-pixel: "m6x11", "monospace";
}

@font-face {
    font-family: 'm6x11';
    src: url('/fonts/m6x11.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}