name: Deploy Game UI

on:
  push:
    branches: [master]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Checkout private assets
        uses: actions/checkout@v4
        with:
          repository: the-real-han/openquests-ui-assets
          token: ${{ secrets.ASSETS_PAT }}
          path: public

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm
          cache-dependency-path: package-lock.json

      - name: Install deps
        run: |
          npm ci

      - name: Build
        run: |
          npm run build

      - name: Publish to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: openquests
          directory: dist   # change to your build output folder
          # optional: wranglerVersion: '3'
